 @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1) ;
    width: 600px;
	height: 280px; 
    margin-left: 50px;
    margin-top: 50px;
    background: linear-gradient(to top right,  rgb(80, 79, 79) 0%, rgb(136, 135, 135) 100%);
  
}

.btn-primary {
    margin-top: 5px; 
    margin-left: 100px;
    width: 400px;
    font-size: larger;
    background: linear-gradient(to top right,  rgb(29, 28, 28) 0%, rgb(124, 122, 122) 100%);
}

.dropdown-toggle {
    /* margin-left: -45px; */
   margin-left: 90px;
    width: 400px;
    font-size: large;
    margin-bottom: 150px;
    background: linear-gradient(to top right,  rgb(80, 79, 79) 0%, rgb(136, 135, 135) 100%);
}   

.dropdown-item{
    width: 400px;
    text-align: center;
}

.fram {
    background: linear-gradient(to top right,  rgb(80, 79, 79) 0%, rgb(136, 135, 135) 100%);
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1) ;
    margin-top: 50px;
    width: 600px;
	height: 280px; 
    margin-left: 60px;


  
}
.label {
    background: linear-gradient(to top right,  rgb(80, 79, 79) 0%, rgb(136, 135, 135) 100%); 
    
}

.btn-primary:hover {
	background:#1F2D5A;
	
   
} 