
audio::-webkit-media-controls-panel{
    background-color: rgba(200,200,200,1);
    width:350px;
    height: 54px;
    }
    @import url("https://fonts.googleapis.com/css?family=Lato:400,400i,700");

.header {
  min-height: 60vh;
  background: #009FFF;
  /* background: linear-gradient(to right, #ec2F4B, #009FFF); */
  background: linear-gradient(to top right, rgb(29, 28, 28) 0%, rgb(124, 122, 122) 100%);
  color: white;
  clip-path: ellipse(100vw 60vh at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "proxima-nova";
  margin-left: 180px;
  width: 700px;
}
.btn_button
{
  background: linear-gradient(to top right, rgb(29, 28, 28) 0%, rgb(124, 122, 122) 100%);
  border: none;

}
.details {
  text-align: center;
  
}

.profile-pic {
  height: 6rem;
  width: 6rem;
  object-fit: center;
  border-radius: 50%;
  border: 2px solid #fff;
}

.stats {
  display: flex;
}

.stats .col-4 {
  width: 10rem;
  text-align: center;
}

.heading {
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.bg-purple {
     background :linear-gradient(to right, #DECBA4, #3E5151) ;
     
}

.updatedetailbtn {
  background-color: #343a40;
  width: 100px;
  border-radius: 10px;
  height: 35px;
  margin-left: 150px;
  border: none;
}

@media screen and (max-width: 600px) {
  .header {
    margin-left: 1px;
    width: 370px;
}

.editprofiletitle {
  margin-left: 70px;
}

.admindetailinput {
  margin-left: 100px;
}

.updateprofilename{
  margin-left: 80px;
  
}
.updatedetailbtn {
 
  width: 100px;  
  height: 35px;
  margin-left: 100px;
  border: none;
}
.adminupdatepass {
  margin-left: 35px;
}

}
