.analytics{
    background: white; 
    width: 1050px;
    height: 640px;
    box-shadow: 5px 10px 8px 10px #888888;
    margin-left:40;  
}


.tpimage {
    width: 200px;
    height: 100px; 
    margin-left: 50px;
}

.toptrackp {
    margin-left: 140px;
}
.topfanuser{

    margin-left: 70px;
    color: white;

}
.topfanuser1{

    margin-left: 80px;
    color: white;

}

.avatar {
    width: 200px;
    height: 100px; 
    background: #1F2D5A;
    border-radius: 0px;
    margin-left: 50px;
    /* width: '200px', height: '100px', background: '#1F2D5A', borderRadius: '0px',marginLeft: '40px' */
}
.avatar1 {
    width: 200px;
    height: 100px; 
    background: #2F76DB;
    border-radius: 0px;
    margin-left: 50px;
    /* width: '200px', height: '100px', background: '#1F2D5A', borderRadius: '0px',marginLeft: '40px' */
}

.toptrack{
    margin-left: 20px;
    color: white;
}

.trackdiv {
    background: gray;
    margin-top:150px;
}

@media screen and (max-width: 600px) {
    .analytics{
        background: white; 
        width: 380px;
        height: 1050px;
        box-shadow: 5px 10px 8px 10px #888888;
        margin-left:20;  
    }

    .tpimage {
        width: 150px;
        height: 100px; 
        margin-left: 30px;
    }
    .toptrackp {
        margin-left: 100px;
    }
    .avatar {
        width: 150px;
        height: 100px; 
        background: #1F2D5A;
        margin-left: 30px;
    }
    .avatar1 {
        width: 150px;
        height: 100px; 
        background: #2F76DB;
        margin-left: 30px;
    }
    
    .toptrack{
        margin-left: 20px;
        color: white;
    }
    .topfanuser{

        margin-left: 50px;
        color: white;
    
    }
    .topfanuser1{
    
        margin-left: 65px;
        color: white;
    
    }
    
    .trackdiv {
        background: gray;
        margin-top:300px;
    }
}