 .viewmusicdiv {
    overflow: hidden; 
    width: 1050px; 
}


.bg-purple {
    width: 100%;
    height: 54px;
    margin: 10px;
    float: left;
}

.imgdiv {
    width: 100px;
    height: 54px; 
    float: left;
}

.trackh5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.editicon {
    color: black;
    margin-top: 15px; 
    margin-left: 30px;
}

.deleteicon{
    color: black;
    margin-top: 15px; 
    margin-left: 30px;
}
.divaudio{
    height: 54px; 
    float: left;
    
    }
.tracktitle{
    float: left; 
    text-align: center; 
    width: 150px; 
    height: 54px;
}
.bpm {
    float: left; 
    text-align: center; 
    width: 100px;
    height: 54px; 
}
.type {
    float: left; 
    text-align: center;
    width: 100px; 
    height: 54px;
}

.songtype {
    margin: 10px;
    min-width: 80px;
    float: right;
    margin-top: 15px;
} 



@media screen and (max-width: 600px) {

    .viewmusicdiv {
        overflow: hidden; 
        width: 375px; 
        
    }
    .bg-purple {
        width: 100%;
        height: 54px;
        margin: 10px;
        float: left;
        margin-left: -3px;
    }
    .imgdiv {
        width: 40px;
        height: 54; 
        float: left;
    }
    .divaudio {
        height: 54; 
        float: left;
        
        }

    div audio {
        width:80px;
        height: 54px;
    }
    .tracktitle{
        float: left; 
        text-align: center; 
        width: 40px; 
        height: 54px;
        margin: 4px;
        margin-top: 0px;
    }

    .bpm {
        width: 30px;
        float: left; 
        text-align: center;        
        height: 54px; 
        font-size: smaller;
        margin-left: 5px;
        margin-right: 8px;
        
    }
    .type {
        float: left; 
        text-align: center;
        width: 25px; 
        height: 54px;
    }
    .editicon {
        color: black;
        margin-top: 15px; 
        /* margin-left: -20 px; */
        /* float: right; */
        display: grid;
    }
    .deleteicon{
        color: black;
        margin-top: 15px; 
        margin-left: -25px;
        display: grid;
        
    }

    .songtype {
        min-width: 30px;
        float: right;
        margin-top: -25px;
        margin-right: 1px;
        
    }

    .viewmusicmodel {
        margin-left: 30px;
    }

    .viewmusicmodelimage{
        margin-left: 30px; 
        
    }
    .playeraudio{
        width: 200px;
    }
  
  }